
.slider-unit {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	width: 10%;
	scroll-snap-align: center;
	margin-right: 0px;
	box-sizing: border-box;
	transform-origin: center center;
	transform: scale(1);

    &:first-of-type {
        margin-left: -10px;
    }
 
}


