.buttonTab {
	margin: 0 5px;

	&.nav-link {
		display: flex;
		align-items: center;
		border-radius: 0;
		border-width: 0 0 2px 0;
		border-color: var(--grey);
		border-style: solid;
		margin-bottom: 0;
		font-weight: 600;
		color: var(--grey);
		opacity: 0.6;
		transition: all 0.3s ease-in-out;
        
		&.active {
            border-color: var(--turquoise);
			color: var(--turquoise);
			opacity: 1;
		}
        
		&:not(.active):hover {
            opacity: 1;
			border-color: var(--grey);
		}
	}
    
	.favorite-city {
        margin-left: 8px;
        transition: all 0.3s ease-in-out;
        /* color: var(--darkyellow); */
	}
}

