/* CL - WEATHER EXTRAS */
.card-content .weather-extra {
    margin: 25px 0 15px 0;
  }
  
  /* .card-content .weather-extra .weather-extra-item {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 13px;
  }
  
  .card-content .weather-extra .bi {
    font-size: 20px;
    color: var(--pink);
    margin-right: 5px;
  } */
  

  /**********************************************************/