.card-container {
    margin: 100px auto;
    
    & > .row:first-of-type {
        border-radius: 25px;
        box-shadow: 10px 10px 19px -8px rgb(0 0 0 / 75%);
        margin-bottom: 20px;
    }

    .card-column {
        padding-top: 15px;
        padding-bottom: 15px;
    }
  }