@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
	/* Colors */
	--lightpink: #ffb6b9;
	--pink: #e95280;
	--purple: #400082;
	--yellow: #fcffc1;
	--darkyellow: #ffdd7e;
	--beige: #fae3d9;
	--lightturquoise: #bbded6;
	--turquoise: #61c0bf;
	--white: #ffffff;
	--lightgrey: #f8f8f8;
	--grey: #bababa;
	--darkgrey: #9ba6a5;
  
	--turquoise-opacity-low: #bbded652;
	--turquoise-opacity-high: #bbded678;
	/* --turquoise-opacity-high: #bbded66e; */
  

	/* Button border color */
	--border-white: #dee2e6;

	/* Values */
	--card-border-radius: 20px;
}

body {
	background-color: #e6fdfb !important;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-start {
	display: flex;
	justify-content: flex-start;
  }

  .justify-end {
	display: flex;
	justify-content: flex-end;
  }

/* .weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 20px 0;
} */

/* .card-weather {
  width: 65vw;
  border: none !important;
  border-radius: 25px !important;
} */

/* .card-row {
  width: 100%;
  display: flex;
  flex-direction: row;
} */

/* .card-row .card-column {
  padding: 15px;
} */

/* CARD LEFT = CL */
/* .card-row .card-left {
  width: 35%;
  color: white;
  background: var(--turquoise);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
} */



/* CR - DAILY FORECAST */



/* CR - DAILY AND WEEKLY FORECAST */
.daily-slider .daily-slide .weather .bi,
.weekly-card-body .weather .bi {
	font-size: 25px;
	color: var(--pink);
}

.daily-slider .icon-weather-hourly {
	color: var(--pink);
}

.card-content .last-update {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--lightturquoise);
    font-size: 11px;
  }